<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Things I need to do:</h1>
    <table>
        <tr>
        {% for item in items %} 
        {% if item.done %}
            <td><strike>{{item.name}}</strike></td>
        {% else %}
            <td>{{item.name}}</td>
        {% endif %}
        <td>
            <a href="/toggle/{{item.id}}"><button type="Submit">Toggle</button></a>
        </td>
        <td>
            <a href="/edit/{{item.id}}"><button type = "submit">Edit</button></a>
        </td>
        <td>
            <a href="/delete/{{item.id}}"><button type = "submit">Delete</button></a>
        </td>
        </tr>
        {% empty %}
        <tr>You have nothing to do.  You are officially on holiday</tr>
        {% endfor %}
</table>
<div><p><a href="/add"><button type = "Submit" >Add an Item</button></a></p>
</div>    
</body>
</html>